fields=caption,text,store,0;mention10,text,store,2;mention20,text,store,0;mention50,text,store,0;lines3,text,store,0;lines5,text,store,0;snippet3,text,store,0;snippet5,text,store,0;abstract,text,store,0;title,text,store,0;introduction,text,store,0;file,string,store,0
indexDir=./index_2_jm
stopwordDir=lemur-stopwords.txt
dataDir=/Users/saarkuzi/acl_data/demo_data/figures_to_index
similarityFunctionName=Jelinek-Mercer
