indexDirB=/Users/saarkuzi/Documents/PhDResearch/research_figures/mechanical_index_dir100/
indexDir=/Users/saarkuzi/acl_data/acl_fig_index/
indexDirA=/Users/saarkuzi/acl_data/acl_fig_index_dir100
referenceIndexDir=/Users/saarkuzi/acl_data/acl_citation_index
stopwordDir=lemur-stopwords.txt
dataDir=/Users/saarkuzi/Documents/PhDResearch/TrainsProject/data/figures_to_index
dataDirA=/Users/saarkuzi/acl_data/figures_to_index