indexDir=collection 1,Dirichlet,../small_dataset/index_1_dir;collection 2,Jelinek-Mercer,../small_dataset/index_2_jm
fields=caption,1,checked;mention10,1,checked;mention20,0,none;mention50,0,none;lines3,0,none;lines5,0,none;abstract,0,none;title,0,none;introduction,0,none
exampleQueries=collection 1,example query 1, example query 2;collection 2,example query 3, example query 4
stopwordDir=lemur-stopwords.txt
lucenePortNumber=25000
webApplicationPortNumber=5000
webApplicationHost=0.0.0.0
applicationUrl=http://0.0.0.0:5000/
imageFilesDir=../small_dataset/image_files
pdfFolderDir=../small_dataset/pdfs
embeddingsDir=collection 1,../small_dataset/collection_1_identifiers.txt,../small_dataset/collection_1_embeddings.txt;collection 2,../small_dataset/collection_2_identifiers.txt,../small_dataset/collection_2_embeddings.txt
relatedFiguresDir=collection 1,Related Figures,../small_dataset/collection1_related.txt;collection 2,Related Figures,../small_dataset/collection2_related.txt;collection 1,Citation Clusters,../small_dataset/collection1_citation.txt;collection 2,Citation Clusters,../small_dataset/collection2_citation.txt
captionField=caption
figureIdField=figure
paperIdField=paper
imageFileField=file
snippetField=snippet5
titleField=title
abstractField=abstract